<h1>Edit</h1>
<%= form_with model: @memo, url: memo_path(@memo.id), method: :patch do |f| %>
  <div class="container">
    <div class="time">
      <%= f.label :start_time %><br>
      <%= f.datetime_select :start_time %>
    </div>
    <div class="title">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="content">
      <%= f.label :content %><br>
      <%= f.text_field :content, size: "80x10" %>
    </div>
    <div class="image">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="submit">
      <%= f.submit "編集完了", class: "btn btn-success" %>
      <%= link_to "戻る", memo_path(@memo.id), "data-confirm" => "保存せずに戻って良いですか？", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>