<h1>Log</h1>
<p>記録を習慣化していきましょう！</p>
<div class="container">
  <% if @memo.errors.any? %>
    <%= @memo.errors.count %>件のエラーが発生しました
    <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<%= form_with(model: @memo, local: true) do |f| %>
  <%= link_to "カレンダーに戻る", root_path, class: "btn btn-info" %>
  <div class="title">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="content">
    <%= f.label :content %><br>
    <%= f.text_field :content, size: "80x10" %>
  </div>
  <div class="image">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="time">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="submit">
    <%= f.submit "記録を作成", class: "btn btn-success" %>
  </div>
</div>
<% end %>
