<h1>detail</h1>
<p>自身の記録を振り返りましょう</p>
<div class="container">
 <%= notice %><br>
 <%= link_to "カレンダーに戻る", root_path, class: "btn btn-info" %>
 <p>記録時間</p>
  <%= @memo.start_time.strftime("%Y-%m-%d %H:%M") %>
 <p>タイトル</p>
  <%= @memo.title %>
 <p>記録内容</p>
  <%= @memo.content %><br>
  <% if @memo.image.attached? %>
    <%= image_tag @memo.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %><br>
 <%= link_to "編集", edit_memo_path(@memo.id), class: "btn btn-success" %>
 <%= link_to "削除", memo_path(@memo.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
</div>